@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: black;
  color: white;
}

@keyframes pulse-glow {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
}

.animate-pulse-glow {
  animation: pulse-glow 2s ease-out infinite;
}

.skill-card .glow {
  will-change: background;
}

@keyframes light-pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.2;
  }
}

.animate-light-pulse {
  animation: light-pulse 6s ease-in-out infinite;
}

.navbar {
  z-index: 50; /* por ejemplo */
}

.luz-hero {
  z-index: 0;
}
